<!DOCTYPE html>
<html>
  <head>
    <title>WatchList</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
     <%= render 'shared/navbar' %>
    <% unless controller_name ==  "lists" && action_name == "show" || controller_name ==  "lists" && action_name == "new"%>
      <%= render 'shared/head' %>
    <% end %>

    <%= yield %>
  </body>
</html>
